<%- include('header') -%>
	<h1>Welcome!</h1>
	<a href="/mailScreen">Write a mail</a>
	<div>
		<%mails.forEach((mail) => { %>
			<div>to: <%= mail.to %></div>
			<div>from: <%= mail.from %></div>
			<div>sub: <%= mail.subject %></div>
			<div>text: <%= mail.text %></div>
		<%})%>
	</div>
<%- include('footer') -%>