<%- include('header') -%>
	<h1>Welcome!</h1>
	<a href="/mailScreen">Write a mail</a>
	<div>
		<%tasks.forEach((task) => { %>
			<div>to: <%= task.mailInfo.to %></div>
			<div>from: <%= task.mailInfo.from %></div>
			<div>sub: <%= task.mailInfo.subject %></div>
			<div>text: <%= task.mailInfo.text %></div>
		<%})%>
	</div>
<%- include('footer') -%>